<div class="footer-license">
	<div>
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
			<img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" >
		</a>
	</div>
	This site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
	Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</div>
