<div class="lighter-inner index-inner">
	<div><a id="indextitle" href="/">too-young.me</a></div>
	<br />
	<hr class="dashed darker" />
	<ul class="indexnav pure-menu-list pure-menu-horizontal">
		<li class="pure-menu-item"><a class="pure-menu-link indexsublink sw sw-shorter" href="/blog">Blog</a></li>
		<li class="pure-menu-item"><a class="pure-menu-link indexsublink sw sw-fadeall" href="/project">Projects</a></li>
		<li class="pure-menu-item"><a class="pure-menu-link indexsublink sw sw-fadeall" href="/service">Services</a></li>
		<li class="pure-menu-item"><a class="pure-menu-link indexsublink sw sw-noheight" href="/about">About</a></li>
	</ul>
	<hr class="dashed darker" />
	<br />
	<div class="indexfooter">
		<p class="indexdesc">
			Hi, this is my home on the Internet.
		</p>
		{{^user}}
		<div><a class="sw sw-fadeall" href="/user/login?redirecturl=/">Login</a></div>
		{{/user}}
	</div>
</div>

<script src="/static/external/modernizr.js"></script>
<script src="/static/external/jquery-2.1.4.js"></script>
<script src="/static/js/navsw.js"></script>
<script>
	navigationSwitchTop('.lighter-outer');
</script>
