<div class="lighter-inner index-inner">
	<div><a id="indextitle" href="/">too-young.me</a></div>
	<br />
	<hr class="dashed darker" />
	<ul class="indexnav pure-menu-list pure-menu-horizontal">
		<li class="pure-menu-item"><a class="pure-menu-link indexsublink" href="/blog">Blog</a></li>
		<li class="pure-menu-item"><a class="pure-menu-link indexsublink" href="/project">Projects</a></li>
		<li class="pure-menu-item"><a class="pure-menu-link indexsublink" href="/service">Services</a></li>
		<li class="pure-menu-item"><a class="pure-menu-link indexsublink" href="/about">About</a></li>
	</ul>
	<hr class="dashed darker" />
	<br />
	<div class="indexfooter">
		<p class="indexdesc">
			Hi, this is my home on the Internet.
		</p>
		<div><a href="/user/login">Login</a></div>
	</div>
</div>
