<div class="subpage-container">
	<h3 class="subpage-title">Register</h3>
	{{#failed}}<div class="login-failed-msg">{{failed_message}}</div>{{/failed}}
	<form class="pure-form" action="/user/register" method="post">
		<fieldset class="pure-group">
			<input type="email" placeholder="Email" class="login-input" name="email">
			<input type="text" placeholder="Username" class="login-input" name="username">
		</fieldset>
		<fieldset class="pure-group">
			<input type="password" placeholder="Password" class="login-input" name="passwd">
			<input type="password" placeholder="Confirm Password" class="login-input" name="passwdconf">
		</fieldset>
		<button type="submit" class="pure-button pure-button-primary">Register</button>
		<a href="/user/login">Login</a>
	</form>
</div>
