<div class="subpage-container center-aligned">
	<img class="user-avatar-large" src="{{user.avatar}}"></img>
	<hr class="dashed" />
	<h3 class="subpage-title">User - {{user.displayname}} <span class="ex-small halftrans">({{user.username}})</span></h3>
	<div class="ex-small">The Hidden Foundation</div>
	<hr class="dashed" />
	<div class="ex-small">&lt;{{user.email}}&gt;</div>
	<hr class="dashed" />
	<div class="ex-small">Registered: 1996-12-08</div>
	<hr class="dashed" />
</div>
