
@lint-20: rgba(255, 255, 255, 0.2);

#author-summary {
	
	#author-displayname { color: #eee; }
	
	#author-name {
		color: fade(lightgray, 50%);
		display: block;
		font-size: 0.8em;
		padding-bottom: 0.4em;
	}
	
	#author-text { font-size: smaller; }
}

.article-index {
	.article-meta {
		padding: 0.5em;
		font-size: 0.8em;
		color: lightgray;
		
		.article-meta-left { }
		.article-meta-right { float: right; }
		
		&:after{
			display: block;
			content: '';
			clear: both;
		}
	}
}

#form-post {
	
	font-size: 0.8em;
	
	textarea {
		width: 100%;
		background-color: @lint-20;
		border-radius: 2px;
		box-shadow: none;
		border: none;
		
		&#postsummary { min-height: 8em; }
		&#postarea { min-height: 28em; }
	}
	
	#titleset {
		input {
			background-color: @lint-20;
			box-shadow: none;
			border: none;
			width: 100%;
			margin: 0;
		}
		
		* {
			top: 0 !important;
			bottom: 0 !important;
		}
	}

}
