<div class="lighter-inner about-inner">
	<div class="ab-contact-item">
		<i class="fa fa-lg fa-github"></i> GitHub:
		<a href="https://github.com/secondwtq">https://github.com/secondwtq</a>
	</div>
	<div class="ab-contact-item">
		<i class="fa fa-envelope"></i> Email: too-simple#too-young.me
	</div>
	<div class="ab-contact-item">
	My GPG Public Key:
	<a href="{{gpgkey_url}}"><i class="fa fa-file"></i> key.asc</a>
	<a href="#" class="ab-gpgkey-switch">
		<i class="fa fa-lg fa-caret-down">
		</i>
	</a>
	</div>
</div>
<div class="ab-gpgkey-wrap-wrap" style="-webkit-transition: none; transition: none;">
	<div class="ab-gpgkey-wrap">
	<pre id="ab-gpgkey">
{{gpgkey_content}}</pre>
	</div>
	<a id="ab-gpgkey-copy" href="#" data-clipboard-target="#ab-gpgkey">
		<i class="fa fa-clipboard"> Copy to clipboard</i>
	</a>
</div>
{{> ref_dollar}}
{{> ref_clipboard}}
<script>
	$(document).ready(function () {
		$('.ab-gpgkey-wrap-wrap').hide();
		$('.ab-gpgkey-switch').click(function () {
			$(this).toggleClass('opened');
			$('.ab-gpgkey-wrap-wrap').slideToggle();
		});
	});
	(new Clipboard('#ab-gpgkey-copy'));
</script>
