<div id="footer">
	<div id="footer-body">
		<div>
			<span class="ex-ial-mid">Made by secondwtq with </span>
			<i class="footer-love ex-ial-mid material-icons md-16">favorite</i>.
		</div>
		<div id="footer-email">too-simple#too-young.me</div>
		{{#show_license}}
		{{> footer_license}}
		{{/show_license}}
	</div>
</div>
