<div id="footer">
	<div id="footer-body">
		<div>
			Made by secondwtq with <i class="footer-love material-icons md-16">favorite</i>.
		</div>
		<div id="footer-email">too-simple#too-young.me</div>
		{{#show_license}}
		{{> footer_license}}
		{{/show_license}}
	</div>
</div>
