
body {
	font-family: 'Lucida Grande';
	
	background: linear-gradient(to top, #82878f 0%,#73787e 100%);
	background-image: linear-gradient(rgb(130, 135, 143) 0%, rgb(115, 120, 126) 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#82878f), color-stop(100%,#73787e));
	
	color: ghostwhite;
}

body.subpage-body {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	margin: 0;
	padding: 0;
	min-height: 100%;
}

.subpage-title {
	font-weight: normal;
}

.subpage-container {
	position: relative;
}

.login-input {
	min-width: 18em;
	color: gray;
}

#container {
	display: flex;
	position: relative;
}

#left-container {
	width: 25%;
}

#center-container {
	width: 100%;
	box-shadow: 0 -36px 24px rgba(0, 0, 0, 0.3);
	height: 100%;
}

#center-container-inner {
	max-width: 48em;
	margin: 0 auto;
}

@media screen and (max-width: 767px) {
	#container {
		flex-direction: column;
	}
	
	#left-container {
		order: 1;
		width: 100%;
		text-align: center;
	}
}

.left-top {
	padding-top: 3em;
	background: #ECEFF1;
}

.center-top {
	text-align: center;
	box-shadow: 0 0px 36px rgba(0, 0, 0, 0.5);
	background: #ECEFF1;
}

.center-top-inner {
	padding-top: 3em;
}

#user-meta {
	float: right;
	padding: 1.2em;
}

#user-meta .user-meta-initial {
	padding: 0;
	display: flex;
	align-items: center;
	font-size: 0.8em;
}

#user-avatar {
	display: inline-block;
	width: 42px;
	height: 42px;
	background-color: gray;
	margin-left: 1em;
	border-radius: 50%;
}

#user-meta.has-not-logged-in {
	padding: 2em;
}

.has-logged-in .not-logged-in {
	display: none; }

.has-not-logged-in .logged-in {
	display: none; }

#left-center {
	text-align: center;
	display: block;
	padding: 1em;
}

#author-intro {
	text-align: center;
	color: lightgray;
}

#author-avatar {
	margin: 1em auto;
	text-align: center;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	background-color: lightslategray;
	box-shadow: 0 3px 6px dimgray;
}

#author-summary #author-name {
	padding: 0.5em;
}

#author-summary .author-text {
	font-size: x-small;
}

#center-container #articles {
	margin-right: 1.5em;
}

.article-index {
	padding: 1em;
	padding-bottom: 0;
}

.article-index .article-head .article-date {
	float: right;
	color: #ccc;
	font-weight: normal;
	font-size: 0.7em;
}

.article-index .article-meta {
	border-bottom: 1px solid #999;
}

.article-index .article-summary {
	font-size: 0.8em;
	line-height: 1.6em;
	color: lightgray;
}

#footer {
	text-align: center;
	font-size: small;
	color: lightgray;
	line-height: 200%;
	padding: 2em;
}

#footer-body {
	margin: 0 auto;
}