
body {
	font-family: 'Lucida Grande';
	
	background: linear-gradient(to top, #82878f 0%,#73787e 100%);
	background-image: linear-gradient(rgb(130, 135, 143) 0%, rgb(115, 120, 126) 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#82878f), color-stop(100%,#73787e));
	background-color: #82878f;
	background-repeat: no-repeat;
	
	color: ghostwhite;
}

a {
	color: #eee;
	text-decoration: none; }
a:hover {
	color: #ddd;
	text-decoration: underline; }
a:active { color: #ccc; }
	
a.anchor-sp { color: white; }
a.anchor-sp:hover {
	color: white;
	text-decoration: none; }
a.anchor-sp:hover { color: white; }
	
.top-anchor { color: #777; }
.top-anchor:hover {
	text-decoration: none;
	color: #555; }

html.subpage-html { height: 100%; }

body.subpage-body {
	display: -webkit-flex;
	display: flex;
	-webkit-align-content: center;
	-webkit-align-items: center;
	-webkit-justify-content: space-around;
	-webkit-flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	margin: 0;
	padding: 0;
	min-height: 100%;
}

.subpage-title {
	font-weight: normal; }

.subpage-container {
	position: relative;
}

.login-input {
	min-width: 18em;
	color: gray;
}

.ex-hidden { display: none !important; }
.ex-hide-by-default { display: none; }
.center-aligned { text-align: center !important; }
.right-floated { float: right !important; }
	
.ex-small { font-size: small; }
	
.halftrans { opacity: 0.5; }
	
.no-margin { margin: 0 !important; }
	
hr.dashed {
	border-style: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
}

hr.grayed {
	border-style: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.labeled-divider {
	text-align: center;
	overflow: hidden;
	margin: 0.4em auto;
}

.labeled-divider:before,
.labeled-divider:after {
	content: "";
	display: inline-block;
	width: 50%;
	height: 4px;
	margin: 0 2% 0 -55%;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.labeled-divider:after {
	margin: 0 -55% 0 2%; }

.small-vert-dived {
	position: relative;
	display: inline-block; }

.small-vert-dived:after {
	display: inline-block;
	content: ' ';
	width: 1px;
	height: 1em;
	border-left: 1px solid rgba(255, 255, 255, 0.15);
}

#container {
	display: -webkit-flex;
	display: flex;
	position: relative;
}

#left-container {
	transition: all 1s ease-in-out;
	width: 25%;
}

#center-container {
	width: 100%;
	box-shadow: 0 -36px 24px rgba(0, 0, 0, 0.3);
	/* height: 100%; */
}

#center-container-inner {
	max-width: 48em;
	margin: 0 auto;
}

@media screen and (max-width: 767px) {
	#container {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	
	#left-container {
		-webkit-order: 1;
		order: 1;
		width: 100%;
		text-align: center;
	}
	
	#left-container .pure-menu-horizontal {
		text-align: center; }
}

.left-top {
	padding-top: 3em;
	background: #ECEFF1;
}

.left-top .pure-menu-horizontal {
	text-align: right; }

.center-top {
	text-align: center;
	box-shadow: 0 0px 36px rgba(0, 0, 0, 0.5);
	background: #ECEFF1;
}

.center-top-inner { padding-top: 3em; }

.top-nav .pure-menu-link:hover { background-color: rgba(255, 255, 255, 0.2); }

#user-meta {
	float: right;
	padding: 1.2em;
}

#user-meta .user-meta-initial {
	padding: 0;
	display: flex;
	display: -webkit-flex;
	-webkit-align-items: center;
	align-items: center;
	font-size: 0.8em;
}

#user-avatar,
.user-avatar-small {
	display: inline-block;
	background-color: gray;
	margin-left: 1em;
	border-radius: 50%;
}

#user-avatar {
	width: 42px;
	height: 42px;
	max-width: 42px;
	max-height: 42px;
}

.user-avatar-small {
	width: 32px;
	height: 32px;
	max-width: 32px;
	max-height: 32px;
}

.user-avatar-large {
	width: 12em;
	height: 12em;
	max-width: 12em;
	min-width: 12em;
	border-radius: 50%;
	box-shadow: 2px 4px 8px #333;
	border: 4px outset rgba(255, 255, 255, 0.4);
	margin: 1em;
}

#user-meta.has-not-logged-in { padding: 2em; }

.has-logged-in .not-logged-in { display: none; }
.has-not-logged-in .logged-in { display: none; }
	
.login-failed-msg {
	color: lightcoral;
	font-size: smaller;
	text-shadow: 1px 0px darkslategray;
}

#left-center {
	text-align: center;
	display: block;
	padding: 1em;
}

#author-intro {
	text-align: center;
	color: lightgray;
}

#author-avatar {
	margin: 1em auto;
	text-align: center;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	background-color: lightslategray;
	box-shadow: 0 3px 6px dimgray;
}

#author-summary #author-name {
	display: block;
	padding: 0.5em;
}

#author-summary .author-text {
	font-size: x-small;
}

#center-container #articles {
	margin-right: 1.5em;
}

.no-article {
	text-align: center;
	padding: 3em 1em;
	font-size: x-large;
}

.no-article-small {
	text-align: center;
	padding: 1.5em 0.5em;
	font-size: large;
}

.article-index {
	padding: 1em;
	padding-bottom: 0;
}

.article-index .article-head {
	border-bottom: 1px solid #999;
	margin-bottom: 1em;
}

.article-date {
	float: right;
	color: #ccc;
	font-weight: normal;
	font-size: 0.7em;
}

.article-index .article-meta {
	text-align: right;
	padding: 0.5em;
	font-size: 0.8em;
	color: lightgray;
}

.article-index .article-summary,
.article-paragraphs {
	font-size: 0.8em;
	line-height: 1.6em;
	color: lightgray;
}

.article-subtitle {
	padding: 0;
	font-weight: normal;
	margin: 0;
	line-height: 200%;
	color: lightgray;
}

.article-paragraphs-fade {
	overflow: hidden;
	position: relative; }

.article-paragraphs-fade:before,
.article-paragraphs-fade:after {
	content: '';
    width: 100%;
    height: 4em;    
    position: absolute;
	border-radius: 100% / 3em;
    left: 0;
	pointer-events: none;
	background: linear-gradient(to bottom, transparent, rgb(115, 120, 126) 2em);
	background-image: radial-gradient(ellipse farthest-corner, rgba(115, 120, 126, 255) 20%, rgba(115, 120, 126, 0) 100%);
	top: -2.5em;
}

.article-paragraphs-fade:after {
	top: auto;
	bottom: -2.5em; }
	
.article-paragraphs-fade-placeholder { padding: 0.75em; }

.article-parawrap .para-comment-btn {
	opacity: 0.0;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}

.article-parawrap:hover .para-comment-btn { opacity: 1.0; }
	
.article-parawrap:after {
	content: '';
	display: block;
	clear: both; }
	
/*.article-paragraph { clear: both; }*/

.para-comment-num {
	font-size: xx-small;
	color: rgba(255, 255, 255, 0.3);
	padding-left: 0.5em;
}
	
.article-paragraph-comment-wrapper {
	visibility: hidden;
	max-height: 0;
	transition: all 0.4s, -webkit-transform 0.4s;
	transition: all 0.4s, transform 0.4s;
	
	-webkit-transform: translate3d(0, 25%, 0);
	transform: translate3d(0, 25%, 0);
	background-color: transparent;
	opacity: 0;
	border-radius: 2px;
	display: -webkit-flex;
	display: flex;
}
	
.article-paragraph-comment-wrapper.paragraph-comment-show {
	margin: 0.4em;
	padding: 0.6em;
	
	visibility: visible;
	background-color: rgba(0, 0, 0, 0.1);
	max-height: none;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

.article-paragraph-comment-container {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

@media screen and (min-height: 319px) {
.article-paragraphs {
	overflow: scroll;
	scroll-behavior: smooth;
}
}

@media screen and (min-height: 319px) {
	.article-paragraphs {
		max-height: 320px; }
}

@media screen and (min-height: 479px) {
	.article-paragraphs {
		max-height: 432px; }
}

@media screen and (min-height: 639px) {
	.article-paragraphs {
		max-height: 544px; }
}

@media screen and (min-height: 719px) {
	.article-paragraphs {
		max-height: 608px; }
}

@media screen and (min-height: 767px) {
	.article-paragraphs {
		max-height: 656px; }
}

@media screen and (min-height: 899px) {
	.article-paragraphs {
		max-height: 768px; }
}

@media screen and (min-height: 1049px) {
	.article-paragraphs {
		max-height: 900px; }
}

@media screen and (min-height: 1079px) {
	.article-paragraphs {
		max-height: 1050px; }
}

@media screen and (min-height: 1091px) {
	.article-paragraphs {
		max-height: none;
		overflow: visible
	}
}

.comment-form textarea {
	width: 100%;
	background-color: #73787e;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	color: white;
	font-size: small;
	min-height: 10em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-color: transparent;
}

.comment-form .comment-form-frame {
	border-radius: 0 0 3px 3px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-top-style: none;
}

.article-comment-form {
	padding: 1em;
}

.comment-form-frame .pure-button {
	font-size: small;
	background-color: rgba(0, 0, 0, 0.03);
	color: lightgray;
}

.article-comments {
	padding: 1.5em;
	transition: all 0.5s ease-in-out;
}
	
.article-comment,
.article-paragraph-comment {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	padding-left: 1em;
	border-left: 1px dotted lightgray;
}

.article-paragraph-comment {
	padding-left: 0.5em; }

.article-comment + .article-comment {
	padding-top: 1em; }

.article-comment-usercard,
.article-paragraph-comment-usercard {
	text-align: center;
	padding-right: 1em;
	flex-shrink: 0;
	min-width: 5em;
	max-width: 5em;
}

.article-paragraph-comment-usercard {
	padding-right: 0.5em; }

.article-comment-usercard img,
.article-paragraph-comment-usercard img {
	margin: 0 !important; }

.article-comment-usercard .usercard-username {
	font-size: small; }
	
.article-paragraph-comment-usercard .usercard-username {
	font-size: xx-small; }

.article-comment-content {
	color: lightgray;
	font-size: small;
}

.article-comment .article-date,
.article-paragraph-comment .article-date {
	-webkit-align-self: flex-start;
	-webkit-flex-grow: 1;
	-webkit-flex-shrink: 0;
	align-self: flex-start;
	flex-grow: 1;
	flex-shrink: 0;
	text-align: right;
}

@media screen and (max-width: 767px) {
	
	.article-comment .article-date {
		-webkit-flex-shrink: initial;
		-webkit-flex-basis: 128px;
		flex-shrink: initial;
		flex-basis: 128px;
	}
	
	.article-comments {
		padding: 0.7em; }
}

.btn-back-to-top {
	position: fixed;
	bottom: 5em;
	left: 7%;
}

.btn-m {
	width: 3em;
	height: 3em;
	border-radius: 1.5em;
	background-color: lightsteelblue;
	box-shadow: 0 4px 0.5em rgba(0, 0, 0, 0.3);
	cursor: pointer;
	opacity: 0.5;
	transition: all 0.2s ease-in-out, border-radius 0.5s ease-in-out;
	color: white;
	text-align: center;
	
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	justify-content: center;
	align-items: center;
}

.checkbox-switch-md {
	font-size: small;
	color: lightgray;
	padding: 0.15em;
}
/* Fix display error in Safari */
.checkbox-switch-md label { display: inline-block; }

.btn-m:hover {
	opacity: 1.0; }
	
.btn-m:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	box-shadow: 0 6px 0.7em rgba(0, 0, 0, 0.6); }

* > .back-button {
	position: absolute;
	top: 50%;
	opacity: 0;
	-webkit-transform: scale(0.5) translate3d(0, -100%, 0);
	transform: scale(0.5) translate3d(0, -100%, 0);
	width: 2em;
	height: 2em;
	border-radius: 1em;
	right: 0;
	pointer-events: none;
}

*:hover > .back-button {
	opacity: 1;
	-webkit-transform: scale(1) translate3d(0, -50%, 0);
	transform: scale(1) translate3d(0, -50%, 0);
	right: 90%;
	pointer-events: auto;
}

@media screen and (max-width: 767px) {
	.btn-back-to-top {
		position: fixed;
		bottom: 0;
		left: 0;
	}
	
	.btn-m {
		border-radius: 0 3em 0 0;
	}
	
	.btn-m i {
		margin-top: 0.5em;
		margin-right: 0.5em;
	}
	
	* > .back-button {
		top: 50%;
		opacity: 0;
		border-radius: 1em;
		-webkit-transform: scale(0.5) translate3d(100%, 0, 0);
		transform: scale(0.5) translate3d(100%, 0, 0);
		right: 50%;
		bottom: 0;
		top: initial;
	}
	
	*:hover > .back-button {
		-webkit-transform: scale(1) translate3d(50%, 0, 0);
		transform: scale(1) translate3d(50%, 0, 0);
		bottom: 90%;
		right: 50%;
	}
	
	.back-button i { margin: auto; }
}

#footer {
	text-align: center;
	font-size: small;
	color: lightgray;
	line-height: 200%;
	padding: 2em;
}

#footer-body {
	margin: 0 auto; }
